{{> head}}

{{> navbar}}
<body class="bg-secondary">

    <h1>Marina Pinheiro Fachin</h1>
    <br>
    <p><b>Email:</b> marinafachin@alunos.utfpr.edu.br</p>
    <hr>
    <div>
        <div>
            <p><b>SOBRE</b></p>
            <li>Sou estudante de engenharia de software da Universidade Tecnológica
                Federal do Paraná, atualmente no quarto período do curso.
                Desenvolvedora, e meu objetivo é estar sempre aprendendo coisas novas.</li>
            <br>
            <p><b>HABILIDADES PROFISSIONAIS</b></p>
            <li>Linguagem C, MySQL, JavaScript, HTML, CSS, React, Angular, React Native, Expo, Scrum, Inglês intermediários</li>
            <br>
            <p><b>ATIVIDADES EXTRACURRICULARES</b></p>
            <li>DIRETORIA E PARTICIPAÇÃO BATERIA FURIOSA <br> Universidade Tecnológica Federal do Paraná | Mar 2018 - Jun 2019</li>
            <li>MONITORIA DE MATEMÁTICA <br> 3o Colégio da Policia Militar do Paraná | Mar 2019 - Dez 2019</li>
            <br>
        </div>
    </div>
</body>
{{> footer}}