{{> head}}

{{> navbar}}
<body class="bg-secondary">
    <div class="container mt-5">
        <h3 class="text-center mb-3">Disciplinas</h3>
        <p>Programação Web 2</p>
        <p>Segurança e Auditoria de Sistemas</p>
        <p>Oficina de Integração 2</p>
        <p>Arquitetura de Software</p>
        <p>Programação de Dispositivos Moveis</p>
        <p>Manutenção de Software</p>
        <p>TCC 1 </p>
    </div>
</body>
{{> footer}}