{{> head}}

{{> navbar}}
<body class="bg-secondary">
    <div class="container ">
        <div class="row mt-5">
            <div class="col-7">
            </div>
            <div class="col-5">
                <h4><strong>{{name}}</strong></h4>
                <p>
                    Me chamo Marina Fachin, tenho 23 anos e sou natural de Santos-SP atualmente sou desenvolvedora front-end e trabalho tambem como body piercer. 
                </p>
            </div>
        </div>
    </div>
</body>

{{> footer}}